.archetype-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.archetype-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
}

.archetype-container h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

.archetype-container h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
}

.archetype-container p {
    font-size: 1.2rem;
    color: white;
    line-height: 1.6;
    padding: 0 20px;
}