@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px; /* was initially 2rem but removed */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* ParticleBackground.css */
.particle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none; /* Ensure particles don't interfere with other elements */
}

.diagonal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, rgba(10, 10, 10, 1) 50%, rgba(255, 255, 255, 0.00) 50%);
  z-index: 1;
}

.diagonal-bg::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -25vw; 
  width: 150vw; 
  height: 2px; /* Thickness of the diagonal line */
  background-color: white;
  transform: rotate(-45deg); 
  transform-origin: center; 
  z-index: 0; 
}

.title {
  position: absolute;
  top: 7vh;
  left: 5%;
  font-family: 'Orbitron', sans-serif;
  font-size: 4.5rem; /* Slightly larger for emphasis */
  z-index: 2;
  color: white;
  text-align: center;
}


.subtitle {
  position: absolute;
  top: 25vh;
  left: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  z-index: 2;
  color: white;
  text-align: center;
}

.arrow-btn {
  position: absolute; 
  bottom: 40px;
  right: 40px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white; 
  font-family: 'Roboto ', sans-serif;
  font-size: 1.7rem;
  cursor: pointer;
  z-index: 3;
  border-radius: 0 0 0 0; 
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Outer glow effect */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.arrow-btn:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Slight white background on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8); /* Stronger glow on hover */
  color: #ffffff;
}

.arrow-btn:hover::after {
  border-left-color: rgba(255, 255, 255, 0.8); /* Brighten triangle on hover */
}

